---
title: 'Заполните заявку'
phoneText: '0 800 21 00 48'
phoneLink: '0800210048'
leavePage: 'js-is-leave-page'
homeLink: 'http://kharkiv1.eurodecor.com.ua'
jsCallback: true
jsMap: false
jsChat: true
---
{% extends "layouts/_layout.html" %}

{% block content %}
{% include "partials/_header.html" %}
<!--begin callback-->
<div class="callback">
	<!--begin l-->
	<div class="l">
		<!--begin callback__inner-->
		<div class="callback__inner callback__inner--pad-big">
			<!--begin callback__left-->
			<div class="callback__left">
				<img src="img/callback1.png" alt="alt">
			</div>
			<!--end callback__left-->
			<!--begin callback__right-->
			<div class="callback__right">
				<!--begin form-->
				<div class="form">
					<form action="mail.php">
						<!--begin form__inner-->
						<div class="form__inner form__inner--tac">
							<h1 class="form__title">Вы в минуте от потолков
							своей мечты!</h1>
							<div class="field">
								<input class="js-form-field" type="text" placeholder="Ваше имя" name="name" >
							</div>
							<div class="field field--mb-big">
								<input class="js-form-field" type="text" placeholder="Ваш телефон" name="phone" >
							</div>
							<input class="js-input-btn-info" type="text" name="btnInfo"  style="display: none;">
							<button class="btn  btn--shadow-border btn--mb" type="submit"><span>Позвоните мне</span></button>
							<div class="form__text form__text--mb-none">
								В течении часа мы перезвоним <br>
								и договоримся о дальнейших <br>
								действиях! Вы на верном пути! :)
							</div>
							<a class="btn btn--mt  btn--shadow-border btn--mb" href="{{homeLink}}"><span>Назад</span></a>
						</div>
						<!--end form__inner-->
						
					</form>
				</div>
				<!--end form-->

			</div>
			<!--end callback__right-->


		</div>
		<!--end callback__inner-->
		
	</div>
	<!--end l-->

</div>
<!--end callback-->
{% include "components/_popup.html" %}



{% endblock %}
