---
title: 'Спасибо за заявку'
phoneText: '0 800 21 00 48'
phoneLink: '0800210048'
homeLink: 'http://kharkiv1.eurodecor.com.ua'
jsCallback: false
jsMap: false
jsChat: true
---
{% extends "layouts/_layout.html" %}

{% block content %}
{% include "partials/_header.html" %}
<!--begin callback-->
<div class="callback callback--thanks">
	<!--begin l-->
	<div class="l">
		<!--begin callback__inner-->
		<div class="callback__inner ">
			<!--begin callback__left-->
			<div class="callback__left">
				<img src="img/callback2.png" alt="alt">
			</div>
			<!--end callback__left-->
			<!--begin callback__right-->
			<div class="callback__right">
				<!--begin form-->
				<div class="form">
					<!--begin form__inner-->
					<div class="form__inner form__inner--tac">
						<p class="form__title-spec">Спасибо!</p>
						<h1 class="form__title form__title--sm">Мы уже набираем<br>
						ваш номер!</h1>
						<div class="form__text ">
							А пока вы ждете, <br>
							посмотрите наши работы на сайте
						</div>
						<div class="form__text form__text--mb-none">
								<a class="btn btn--mt  btn--shadow-border btn--mb" target="_blank" href="http://eurodecor.com.ua/galereya/"><span>Смотреть</span></a>
						</div>
					</div>
					<!--end form__inner-->
				</div>
				<!--end form-->

			</div>
			<!--end callback__right-->


		</div>
		<!--end callback__inner-->
		
	</div>
	<!--end l-->

</div>
<!--end callback-->




{% endblock %}
