---
title: 'Установка европейских натяжных потолков в Харькове и Харьковской области по выгодной цене'
keywords: 'натяжные потолки, натяжной потолок цена, глянцевый натяжной потолок, матовые натяжные потолки, потолок киев, потолок цены, потолок натяжной'
description: 'Европейские натяжные потолки в Харькове и Харьковской области. От 80грн/м2. Качественный монтаж опытными мастерами.'
leavePage: 'js-is-leave-page'
homeLink: 'http://kharkiv1.eurodecor.com.ua'
heroTitle: 'Дарим потолок в ВАННУЮ!'
preMapText: 'Работаем по Харькову и Харьковской области '
phoneText: '0 800 21 00 48'
phoneLink: '0800210048'
jsCallback: true
jsMap: true
jsChat: true
hero: [
{
	mod: 'hero-slider__slide--gift',
	bg: 'hero-decor-gift.png',
	title: 'Светильники в подарок!',
	img: 'hero-img3',
	text: 'При заказе натяжных потолков <br>
	<strong>мы дарим вам светильники!</strong>',
	btnText: 'Получить подарок!',
	dataEmail: 'Светильники в подарок'
},
{
	mod: 'hero-slider__slide--manager',
	bg: 'hero-decor-manager.png',
	title: 'Ограбь нашего менеджера!',
	img: 'hero-img2',
	text: 'Только <span class="js-hero-day">сегодня</span><br>
	<strong>получи скидку 30%!</strong>',
	btnText: 'Ограбить менеджера',
	dataEmail: 'Ограбь менеджера'
},
{
	mod: 'hero-slider__slide--night js-hero-night-slide',
	bg: 'hero-decor-night2.png',
	title: 'Скидка по вечерам - 44%',
	img: 'hero-img1',
	text: 'При заказе в вечернее и ночное время<br>
	<strong>дополнительная скидка!</strong>',
	btnText: 'Не ждать утра!',
	dataEmail: 'Заявка вечером или ночью'
},
{
	mod: 'hero-slider__slide--weekend js-hero-weekend-slide',
	bg: 'hero-decor-weekend.png',
	title: 'Скидка в выходные - 44%',
	img: 'hero-img4',
	text: 'В выходные дни мы делаем
	дополнительные скидки для всех',
	btnText: 'Заказать сейчас',
	secImg: 'hero-img5',
	dataEmail: 'Заявка вечером или ночью'
}
]
advant: [
{
	img: 'advant1',
	title: 'Идеально ровный',
	text: 'Потолок не нужно ровнять, выносить тонны мусора и чихать от побелки. <br>
	Идеально ровный потолок. Всегда!',
	aos: 'fade-up-right'
},
{
	img: 'advant2',
	title: 'Любые эксперименты',
	text: 'Может быть любых форм и цветов, многоуровневый, текстурный... <br> 
	Какой только пожелаете!',
	aos: 'fade-up'
},
{
	img: 'advant3',
	title: 'Эстетично выглядит',
	text: 'Конечно, со временем желтеют все потолки, но натяжной - самый стойкий!',
	aos: 'fade-up-left'
},
{
	img: 'advant4',
	title: 'Не крадет пространство',
	text: 'В отличие от гипсокартона или <br> ДСП-потолков, натяжным потолкам <br> требуется совсем немного пространства для <br> установки..',
	aos: 'fade-up-right'
},
{
	img: 'advant5',
	title: 'Не крадет деньги',
	text: 'Гораздо экономичнее установки любых других видов потолка.',
	aos: 'fade-up'
},
{
	img: 'advant6',
	title: 'Не впитывает запахи',
	text: 'А значит, вы можете курить тайком от мужа или от родных :)',
	aos: 'fade-up-left'
}
]
tab1: [
{
	class: '',
	img: 'tab1',
	number: '1',
	text: 'Указанные сроки будут увеличены 
	минимум вдвое, а то и втрое',
	aos: '0'
},
{
	class: 'tabs__block--center',
	img: 'tab2',
	number: '2',
	text: 'Качество выполненной работы 
	будет уровня "сделано на коленке"',
	aos: '150'
},
{
	class: '',
	img: 'tab3',
	number: '3',
	text: 'Ну и главное — фактическая цена 
	будет куда больше заявленной',
	aos: '300'
}
]
tab2: [
{
	class: '',
	img: 'tab4',
	number: '1',
	text: 'Делаете расчет у нас на сайте 
	или по телефону всего за 5 минут',
	aos: '0'
},
{
	class: 'tabs__block--center',
	img: 'tab5',
	number: '2',
	text: 'Мы приезжаем к вам на бесплатный
	замер и выбор материала',
	aos: '150'
},
{
	class: '',
	img: 'tab6',
	number: '3',
	text: 'Всего через несколько дней у вас 
	установлен замечательный потолок',
	aos: '300'
}
]
expSlider: [
{
	img: 'expir-img6-1',
	title: 'Резной потолок "APPLY"',
	text: 'Один потолок - два полотна: цельное и резное. Выбирайте сочетания цветов и фактур, источники света и  рисунок. Загляденье!',
	dataEmail: 'Хочу такой же - apply'
},

{
	img: 'expir-img7-1',
	title: 'Натяжной потолок в кухне',
	text: 'Глянцевый, сатиновый, с фотопечатью, полупрозрачный, многоуровневый или парящий, - на кухню любой! Выдержит нагрузку!',
	dataEmail: 'Хочу такой же - Потолок в кухню'
},
{
	img: 'expir-img8-1',
	title: '"Парящий" потолок',
	text: 'Этот потолок "парит" в воздухе, не касаясь стен. Освещение мягкое и обволакивающее. Покидать комнату не хочется - в ней уютно.',
	dataEmail: 'Хочу такой же - Парящий'
},
{
	img: 'expir-img1-1',
	title: 'Глянцевый потолок',
	text: 'Глянец - для любого уголка вашей квартиры. Визуально увеличит высоту помещения, сделает его ярче и светлее.',
	dataEmail: 'Хочу такой же - Глянцевый'
},
{
	img: 'expir-img3-1',
	title: 'Криволинейная спайка полотен',
	text: 'Соедините разные цвета и фактуры на потолке в один уровень. Сохраните до 5 см высоты комнаты. Фантазируйте, мы реализуем.',
	dataEmail: 'Хочу такой же - Криволинейная спайка'
},
{
	img: 'expir-img9-1',
	title: 'Сатиновый потолок',
	text: 'Сатиновый потолок с  легким обаянием и  шелковистым блеском. Запоминается, не привлекая к себе внимания. Элегантный и сдержанный.',
	dataEmail: 'Хочу такой же - Сатиновый потолок'
},
{
	img: 'expir-img2-1',
	title: 'Фотопечать "Небо" на потолке',
	text: 'Почувствуйте свободу и простор. Фотопечать неба на матовом, глянцевом или сатиновом полотнах зачаровывает и вдохновляет.',
	dataEmail: 'Хочу такой же - Фотопечать небо'
},
{
	img: 'expir-img11-1',
	title: 'Фотопечать с эффектом 3D',
	text: 'Гости будут смотреть на потолок, затаив дыхание. Живое и объемное изображение притягивает, как магнит. Завораживает! ',
	dataEmail: 'Хочу такой же - 3D потолок'
},
{
	img: 'expir-img5-1',
	title: '"Парящая линия" на потолке',
	text: 'Идея для жизни! Яркость света можно регулировать. Просто поддерживать чистоту: нет плесени, пыли, конденсата. Идеально!',
	dataEmail: 'Хочу такой же - Парящая линия'
},
{
	img: 'expir-img4-1',
	title: 'Потолок "Звездное небо"',
	text: ' Открытый космос у вас дома! Используем булавки starpins, оптоволокно и скрытую подсветку. Может быть ночником для самых маленьких.',
	dataEmail: 'Хочу такой же - Звездное небо'
}
]
why: [
{
	title: 'Все включено',
	text: 'Выезд, замер и консультация — всегда бесплатно. И в удобное для вас время.',
	aos: 'fade-up-right'
},
{
	title: 'Надежно, безопасно',
	text: 'Мы работаем официально, с гарантией качества своих услуг не только в устной форме"',
	aos: 'fade-up-left'
},
{
	title: 'Точно в срок',
	text: 'Соблюдаем заявленные сроки. Всегда! «Завтра» — это на следующий день и никак иначе',
	aos: 'fade-up-right'
},
{
	title: 'Работаем руками',
	text: 'Наши сотрудники постоянно обучаются, за их работой ведется постоянный контроль качества',
	aos: 'fade-up-left'
},
{
	title: 'Думаем головой',
	text: 'Мы всегда готовы ответить на ваши вопросы. Даже если потолки поставили вам давно, или не мы',
	aos: 'fade-up-right'
},
{
	title: 'Чувствуем сердцем',
	text: 'Мы ценим наши с вами отношения. И прежде всего стараемся найти решение вашим потребностям',
	aos: 'fade-up-left'
}
]

reviewsPart1: [
{
	url: 'https://www.youtube.com/embed/nueEEWHvlgo',
	name: 'Анастасия',
	mod: '',
	aos: true,
	aosFade: 'fade-up-right'
},
{
	url: 'https://www.youtube.com/embed/bc2UQQNBQWw',
	name: 'Виталий',
	mod: '',
	aos: true,
	aosFade: 'fade-up'
},
{
	url: 'https://www.youtube.com/embed/U6xldABx63A',
	name: 'Ирина',
	mod: '',
	aos: true,
	aosFade: 'fade-up-left'
}
]
reviewsPart2: [
{
	url: 'https://www.youtube.com/embed/bUnHlAMJYoQ',
	name: 'Валентина',
	mod: ''
},
{
	url: 'https://www.youtube.com/embed/h97nIBYs5v4',
	name: 'Алексей',
	mod: ''
},
{
	url: 'https://www.youtube.com/embed/93u4qcS18A4',
	name: 'Ирина',
	mod: ''
}
]
reviewsPart3: [
{
	url: 'https://www.youtube.com/embed/RR33Qr1ZT8E',
	name: 'Любовь',
	mod: ''
},
{
	url: 'https://www.youtube.com/embed/E--k4lXQ-l4',
	name: 'Евгений',
	mod: ''
},
{
	url: 'https://www.youtube.com/embed/VUOiu5ATKlI',
	name: 'Наталья',
	mod: ''
}
]
reviewsPart4: [
{
	url: 'https://www.youtube.com/embed/iqvIA81FdWo',
	name: 'Анна',
	mod: ''
},
{
	url: 'https://www.youtube.com/embed/koxThpGDId0',
	name: 'Виталий',
	mod: ''
},
{
	url: 'https://www.youtube.com/embed/Jr-fSgxZxPU',
	name: 'Елена',
	mod: ''
}
]
reviewsPart5: [

{
	url: 'https://www.youtube.com/embed/qjDF0D8NjYE',
	name: 'Довольный клиент',
	mod: ''
},
{
	url: 'https://www.youtube.com/embed/j1vCMgwgZhU',
	name: 'Довольный клиент',
	mod: ''
},
{
	url: 'https://www.youtube.com/embed/3Q0xNh_o8uo',
	name: 'Довольный клиент',
	mod: ''
}
]
reviewsPart6: [

{
	url: 'https://www.youtube.com/embed/hsBcM8oxwJo',
	name: 'Довольный клиент',
	mod: ''
},
{
	url: 'https://www.youtube.com/embed/7_ij1tauYP0',
	name: 'Довольный клиент',
	mod: ''
},
{
	url: 'https://www.youtube.com/embed/pcXl4y9VpcI',
	name: 'Довольный клиент',
	mod: ''
}
]



---
{% extends "layouts/_layout.html" %}

{% block content %}
{% include "partials/_header.html" %}
{% include "partials/_hero.html" %}
{% include "partials/_advantages.html" %}
{% include "partials/_tabs.html" %}
{% include "partials/_expir-slider.html" %}
{% include "partials/_why-we.html" %}
{% include "partials/_reviews.html" %}
{% include "partials/_care-section.html" %}
{% include "partials/_counter.html" %}
{% include "partials/_pre-map.html" %}
{% include "partials/_map.html" %}
{% include "partials/_pre-footer.html" %}

{% include "partials/_footer.html" %}
{% include "components/_popup.html" %}

{% endblock %}
