---
title: Index page
advant: [
{
	img: 'advant1',
	title: 'Идеально ровный',
	text: 'Потолок не нужно ровнять, выносить тонны мусора и чихать от побелки. <br>
	Идеально ровный потолок. Всегда!'
},
{
	img: 'advant2',
	title: 'Любые эксперименты',
	text: 'Может быть любых форм и цветов, многоуровневый, текстурный... <br> 
	Какой только пожелаете!'
},
{
	img: 'advant3',
	title: 'Эстетично выглядит',
	text: 'Конечно, со временем желтеют все потолки, но натяжной - самый стойкий!'
},
{
	img: 'advant4',
	title: 'Не крадет пространство',
	text: 'В отличие от гипсокартона или <br> ДСП-потолков, натяжным потолкам <br> требуется совсем немного пространства для <br> установки..'
},
{
	img: 'advant5',
	title: 'Не крадет деньги',
	text: 'Гораздо экономичнее установки любых других видов потолка.'
},
{
	img: 'advant6',
	title: 'Не впитывает запахи',
	text: 'А значит, вы можете курить тайком от мужа или от родных :)'
}
]
tab1: [
{
	class: '',
	img: 'tab1',
	number: '1',
	text: 'Указанные сроки будут увеличены 
	минимум вдвое, а то и втрое'
},
{
	class: 'tabs__block--center',
	img: 'tab2',
	number: '2',
	text: 'Качество выполненной работы 
	будет уровня "сделано на коленке"'
},
{
	class: '',
	img: 'tab3',
	number: '3',
	text: 'Ну и главное — фактическая цена 
	будет куда больше заявленной'
}
]
tab2: [
{
	class: '',
	img: 'tab4',
	number: '1',
	text: 'Делаете расчет у нас на сайте 
	или по телефону всего за 5 минут'
},
{
	class: 'tabs__block--center',
	img: 'tab5',
	number: '2',
	text: 'Мы приезжаем к вам на бесплатный
	замер и выбор материала'
},
{
	class: '',
	img: 'tab6',
	number: '3',
	text: 'Всего через несколько дней у вас 
	установлен замечательный потолок'
}
]
---
{% extends "layouts/_layout.html" %}

{% block content %}
{% include "partials/_header.html" %}
{% include "partials/_hero.html" %}
{% include "partials/_advantages.html" %}
{% include "partials/_tabs.html" %}
{% include "partials/_footer.html" %}

{% endblock %}
