---
title: Index page
hero: [
{
	mod: 'hero-slider__slide--gift',
	bg: 'hero-decor-gift.png',
	title: 'Светильники в подарок!',
	img: 'hero-img3',
	text: 'При заказе натяжных потолков <br>
	<strong>мы дарим вам светильники!</strong>',
	btnText: 'Получить подарок!'
},
{
	mod: 'hero-slider__slide--manager',
	bg: 'hero-decor-manager.png',
	title: 'Ограбь нашего менеджера!',
	img: 'hero-img2',
	text: 'Только в<span class="js-hero-day"> понедельник</span><br>
	<strong>получи скидку 30%!</strong>',
	btnText: 'Ограбить менеджера'
}
,{
mod: 'hero-slider__slide--night',
bg: 'hero-decor-night2.png',
title: 'Скидка по вечерам - 44%',
img: 'hero-img1',
text: 'При заказе в вечернее и ночное время<br>
<strong>дополнительная скидка!</strong>',
btnText: 'Не ждать утра!'
}
]
advant: [
{
	img: 'advant1',
	title: 'Идеально ровный',
	text: 'Потолок не нужно ровнять, выносить тонны мусора и чихать от побелки. <br>
	Идеально ровный потолок. Всегда!',
	aos: 'fade-up-right'
},
{
	img: 'advant2',
	title: 'Любые эксперименты',
	text: 'Может быть любых форм и цветов, многоуровневый, текстурный... <br> 
	Какой только пожелаете!',
	aos: 'fade-up'
},
{
	img: 'advant3',
	title: 'Эстетично выглядит',
	text: 'Конечно, со временем желтеют все потолки, но натяжной - самый стойкий!',
	aos: 'fade-up-left'
},
{
	img: 'advant4',
	title: 'Не крадет пространство',
	text: 'В отличие от гипсокартона или <br> ДСП-потолков, натяжным потолкам <br> требуется совсем немного пространства для <br> установки..',
	aos: 'fade-up-right'
},
{
	img: 'advant5',
	title: 'Не крадет деньги',
	text: 'Гораздо экономичнее установки любых других видов потолка.',
	aos: 'fade-up'
},
{
	img: 'advant6',
	title: 'Не впитывает запахи',
	text: 'А значит, вы можете курить тайком от мужа или от родных :)',
	aos: 'fade-up-left'
}
]
tab1: [
{
	class: '',
	img: 'tab1',
	number: '1',
	text: 'Указанные сроки будут увеличены 
	минимум вдвое, а то и втрое'
},
{
	class: 'tabs__block--center',
	img: 'tab2',
	number: '2',
	text: 'Качество выполненной работы 
	будет уровня "сделано на коленке"'
},
{
	class: '',
	img: 'tab3',
	number: '3',
	text: 'Ну и главное — фактическая цена 
	будет куда больше заявленной'
}
]
tab2: [
{
	class: '',
	img: 'tab4',
	number: '1',
	text: 'Делаете расчет у нас на сайте 
	или по телефону всего за 5 минут'
},
{
	class: 'tabs__block--center',
	img: 'tab5',
	number: '2',
	text: 'Мы приезжаем к вам на бесплатный
	замер и выбор материала'
},
{
	class: '',
	img: 'tab6',
	number: '3',
	text: 'Всего через несколько дней у вас 
	установлен замечательный потолок'
}
]
expSlider: [
{
	img: 'expir-img6-1',
	title: 'Резной потолок "APPLY"',
	text: 'Потолки APPLY - это комбинация полотна с вырезами и цельного полотна. Между полотнами можно разместить led ленту, которая станет дополнительным источником ночного освещения.'
},

{
	img: 'expir-img7-1',
	title: 'Двухуровневый натяжной потолок',
	text: 'Сделайте свою кухню комфортной и вдохновляющей!  Выбирайте натяжные потолки с фотопечатью. Получайте удовольствие от атмосферы своей кухни, и еда, которую вы готовите, станет еще вкуснее! '
},
{
	img: 'expir-img8-1',
	title: '"Парящий" потолок',
	text: 'Кажется, что этот потолок парит в воздухе, не касаясь стен. "Парящий" потолок подходит для всей квартиры и поможет зрительно увеличить высоту помещения.'
},
{
	img: 'expir-img1-1',
	title: 'Глянцевый потолок',
	text: 'Выбирайте глянцевый натяжной потолок в ванную, гостинную или спальню. Он визуально увеличит высоту помещения, а так же сделает его ярче и светлее.'
},
{
	img: 'expir-img3-1',
	title: 'Криволинейная спайка полотен',
	text: 'Зонировать пространство, визуально изменить геометрию комнаты, сберечь 3-5 см высоты потолка и соединить полотна разных цветов и фактур вам  поможет декоративная спайка полотен. Выбирайте этот потолок, чтоб соединить разные цвета на потолке в один уровень.  '
},
{
	img: 'expir-img9-1',
	title: 'Сатиновый потолок',
	text: 'Присмотритесь к сатиновым потолкам в гостинную, зал, спальню или детскую. Идеально ровные с легким шелковистым блеском обогатит вам интерьер. На выбор 112 цветов или фотопечать любого изображения.'
},
{
	img: 'expir-img2-1',
	title: 'Фотопечать "Небо" на потолке',
	text: 'Почувствуйте свободу и простор, глядя на небо  - потолок в вашей комнате. Фотопечать небесной лазури на матовом, глянцевом или саттиновом полотнах  украсит вашу квартиру. Освещение  и конструктив - выбирайте, чего душа желает. '
},
{
	img: 'expir-img11-1',
	title: 'Фотопечать с эффектом 3D',
	text: 'Фотопечать с эффектом 3D. Гости будут смотреть на него, затаив дыхание.  Живое и объемное изображение притягивает взгляды, как магнит. О таком потолке вы мечтали? '
},
{
	img: 'expir-img5-1',
	title: '"Парящая линия" на потолке',
	text: 'Парящая линия в ванной - идея для жизни! Яркость света можно регулировать.  Просто поддерживать чистоту: нет плесени, пыли, конденсата. Выбирайте этот вариант если хотите ощущать простор и любоваться сиянием! '
},
{
	img: 'expir-img4-1',
	title: 'Потолок "Звездное небо"',
	text: 'Потолок "Звездное небо"  - для  вашей спальни, гостинной или детской комнаты. Каждая звездочка горит ярко-ярко, а все вмете  - космос, не меньше. Этот эффект мы создаем с помощью булавок starpins, оптоволокна и скрытой подсветки по периметру потолка. Яркость регулируется. Идеально подходит, как замена ночника для маленького ребенка. '
}
]
why: [
{
	title: 'Все включено',
	text: 'Выезд, замер и консультация — всегда бесплатно. И в удобное для вас время.',
	aos: 'fade-up-right'
},
{
	title: 'Надежно, безопасно',
	text: 'Мы работаем официально, с гарантией качества своих услуг не только в устной форме"',
	aos: 'fade-up-left'
},
{
	title: 'Точно в срок',
	text: 'Соблюдаем заявленные сроки. Всегда! «Завтра» — это на следующий день и никак иначе',
	aos: 'fade-up-right'
},
{
	title: 'Работаем руками',
	text: 'Наши сотрудники постоянно обучаются, за их работой ведется постоянный контроль качества',
	aos: 'fade-up-left'
},
{
	title: 'Думаем головой',
	text: 'Мы всегда готовы ответить на ваши вопросы. Даже если потолки поставили вам давно, или не мы',
	aos: 'fade-up-right'
},
{
	title: 'Чувствуем сердцем',
	text: 'Мы ценим наши с вами отношения. И прежде всего стараемся найти решение вашим потребностям',
	aos: 'fade-up-left'
}
]
---
{% extends "layouts/_layout-map.html" %}

{% block content %}
{% include "partials/_header.html" %}
{% include "partials/_hero.html" %}
{% include "partials/_advantages.html" %}
{% include "partials/_tabs.html" %}
{% include "partials/_expir-slider.html" %}
{% include "partials/_why-we.html" %}
{% include "partials/_reviews.html" %}
{% include "partials/_care-section.html" %}
{% include "partials/_counter.html" %}
{% include "partials/_pre-map.html" %}
{% include "partials/_map.html" %}
{% include "partials/_pre-footer.html" %}

{% include "partials/_footer.html" %}

{% endblock %}
