<section class="section care-section">
	<!--begin l-->
	<div class="l">
		<!--begin care-section__inner-->
		<div class="care-section__inner">
			<div class="care-section__left">
				<!--begin care-slider-->
				<div class="care-section__slider js-care-slider">
					<p class="title-m care-section__title is-active care-section__title--mob-visible"><strong>Как ухаживать</strong> за натяжным потолком?</p>
					<p class="title-m care-section__title"><strong>Как ухаживать</strong> за натяжным потолком?2</p>
					<p class="title-m care-section__title"><strong>Как ухаживать</strong> за натяжным потолком?3</p>
					<p class="title-m care-section__title"><strong>Как ухаживать</strong> за натяжным потолком?4</p>
				</div>
				<!--end care-slider-->
				<div class="care-section__text">
					<p>Узнайте ответы на этот и другие важные вопросы</p>
				</div>
				<div class="care-section__form">
					<form action="mail.php">
						<input type="text" placeholder="Ваш E-mail" name="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
						<div class="care-section__btn">
							<button class="btn btn--shadow-border" type="submit"><span>Узнать все!</span></button>
						</div>
						
					</form>
				</div>
			</div>
			<img class="care-section__img" src="img/care-img.png" alt="alt">
		</div>
		<!--end care-section__inner-->

	</div>
	<!--end l-->

</section>