<section class="section care-section">
	<!--begin l-->
	<div class="l">
		<!--begin care-section__inner-->
		<div class="care-section__inner">
			<div class="care-section__left">
				<h3 class="title-m care-section__title"><strong>Как ухаживать</strong> за натяжным потолком?</h3>
				<div class="care-section__text">
					<p>Узнайте ответы на этот и другие важные вопросы</p>
				</div>
				<div class="care-section__form">
					<form action="">
						<input type="text" placeholder="Ваш E-mail">
						<div class="care-section__btn">
							<button class="btn btn--shadow-border" type="submit"><span>Узнать все!</span></button>
						</div>
						
					</form>
				</div>
			</div>
			<img class="care-section__img" src="img/care-img.png" alt="alt">
		</div>
		<!--end care-section__inner-->

	</div>
	<!--end l-->

</section>