<section class="section care-section">
	<!--begin l-->
	<div class="l">
		<!--begin care-section__inner-->
		<div class="care-section__inner">
			<div class="care-section__left">
				<!--begin care-slider-->
				<div class="care-section__slider js-care-slider">
					<p class="title-m care-section__title is-active"><strong>Сколько стоит 1 кв.м. натяжного потолка?</strong></p>
					<p class="title-m care-section__title"><strong>Какие сроки изготовления и монтажа?</strong></p>
					<p class="title-m care-section__title"><strong>На какую высоту опускается потолок?</strong></p>
					<p class="title-m care-section__title"><strong>Как ухаживать за натяжным потолком?</strong></p>
					<p class="title-m care-section__title"><strong>Что входит в стоимость?</strong></p>
					<p class="title-m care-section__title"><strong>Что делать, если вас затопили?</strong></p>
					<p class="title-m care-section__title"><strong>ПВХ-потолки или тканевые?</strong></p>
					<p class="title-m care-section__title"><strong>Мебель нужно выносить?</strong></p>
					<p class="title-m care-section__title"><strong>Потолки пахнут, будет запах?</strong></p>
					<p class="title-m care-section__title"><strong>Потолки не провиснут?</strong></p>
				</div>
				<!--end care-slider-->
				<div class="care-section__text">
					<p>Узнайте ответы на этот и другие важные вопросы</p>
				</div>
				<div class="care-section__form">
					<form action="mail.php">
						<input type="text" placeholder="Ваш E-mail" name="email" pattern="[A-Za-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
						<div class="care-section__btn">
							<button class="btn btn--shadow-border" type="submit"><span>Узнать все!</span></button>
						</div>
						
					</form>
				</div>
			</div>
			<img class="care-section__img" src="img/care-img.png" alt="alt">
		</div>
		<!--end care-section__inner-->

	</div>
	<!--end l-->

</section>