<section class="section counter-block">
	<!--begin l-->
	<div class="l">
		<!--begin counter-block__inner-->
		<div class="counter-block__inner">
			<div class="counter">
				<div class="counter__text">
					<p><strong>Запланировано</strong><br>
					замеров на сегодня</p>
				</div>
				<div class="counter__numbers">
					<div class="counter__count"><span>2</span></div>
					<div class="counter__count"><span>2</span></div>
				</div>
			</div>
			<div class="counter">
				<div class="counter__text">
					<p><strong>Выполнено</strong><br>
					замеров сегодня</p>
				</div>
				<div class="counter__numbers">
					<div class="counter__count"><span>2</span></div>
					<div class="counter__count"><span>2</span></div>
				</div>
			</div>
			<div class="counter">
				<div class="counter__text">
					<p><strong>Запланировано</strong><br>
					монтажей на сегодня</p>
				</div>
				<div class="counter__numbers">
					<div class="counter__count"><span>2</span></div>
					<div class="counter__count"><span>2</span></div>
				</div>
			</div>
			<div class="counter">
				<div class="counter__text">
					<p><strong>Выполнено</strong><br>	
					монтажей сегодня</p>
				</div>
				<div class="counter__numbers">
					<span class="counter__count">2</span>
					<span class="counter__count">2</span>
				</div>
			</div>			
			<div class="counter">
				<div class="counter__text">
					<p><strong>Запланировано</strong><br>
					замеров на завтра</p>
				</div>
				<div class="counter__numbers">
					<span class="counter__count">2</span>
					<span class="counter__count">2</span>
				</div>
			</div>
		</div>
		<!--end counter-block__inner-->

	</div>
	<!--end l-->
</section>