<section class="section counter-block">
	<!--begin l-->
	<div class="l">
		<!--begin counter-block__inner-->
		<div class="counter-block__inner">
			<div class="counter "  data-aos="fade-up" data-aos-delay="0" data-aos-once="true">
				<div class="counter__text">
					<p><strong>Запланировано</strong><br>
					замеров на сегодня</p>
				</div>
				<div class="counter__numbers js-counter" data-counter="zamerPlanningToday">
					<div class="counter__count"><span>2</span></div>
					<div class="counter__count"><span>2</span></div>
				</div>
			</div>
			<div class="counter " data-aos="fade-up" data-aos-delay="150" data-aos-once="true">
				<div class="counter__text">
					<p><strong>Выполнено</strong><br>
					замеров сегодня</p>
				</div>
				<div class="counter__numbers js-counter" data-counter="zamerDoneToday">
					<div class="counter__count"><span>2</span></div>
					<div class="counter__count"><span>2</span></div>
				</div>
			</div>

			<div class="counter "  data-aos="fade-up" data-aos-delay="300" data-aos-once="true">
				<div class="counter__text">
					<p><strong>Запланировано</strong><br>
					монтажей на сегодня</p>
				</div>
				<div class="counter__numbers js-counter" data-counter="montazPlanningToday">
					<div class="counter__count"><span>2</span></div>
					<div class="counter__count"><span>2</span></div>
				</div>
			</div>
			<div class="counter "  data-aos="fade-up" data-aos-delay="450" data-aos-once="true">
				<div class="counter__text">
					<p><strong>Выполнено</strong><br>	
					монтажей сегодня</p>
				</div>
				<div class="counter__numbers js-counter" data-counter="montazDoneToday">
					<span class="counter__count">2</span>
					<span class="counter__count">2</span>
				</div>
			</div>			
			<div class="counter "  data-aos="fade-up" data-aos-delay="600" data-aos-once="true">
				<div class="counter__text">
					<p><strong>Запланировано</strong><br>
					замеров на завтра</p>
				</div>
				<div class="counter__numbers js-counter" data-counter="zamerPlanningNextDay">
					<span class="counter__count">2</span>
					<span class="counter__count">2</span>
				</div>
			</div>
		</div>
		<!--end counter-block__inner-->

	</div>
	<!--end l-->
</section>