<div class="footer">
	<!--begin l-->
	<div class="l">
		<div class="footer__inner">
			<a href="#" class="footer__logo">
				<img src="img/logo2.png" alt="alt">
			</a>
<!-- 			<div class="footer__center">
				<p>	Вся продукция сертифицированна <br>
				и отвечает требованиям ГОСТа</p>
			</div> -->
			<div class="footer__phone">
				<a href="tel:0800210 45">
					{{mixins.icon('phone')}}
					<span>0 800 21 00 45</span>
				</a>
			</div>
		</div>
	</div>
	<!--end l-->
</div>