<header class="header">
	<!--begin l-->
	<div class="l">
		<!--begin header__inner-->
		<div class="header__inner">
			<a class="header__logo" href="{{homeLink}}">
				<img src="img/logo2.png" alt="logo">
			</a>
			<!--begin header__center-->
			<div class="header__center">
				<a href="tel:0800210 45">
					{{mixins.icon('phone')}}
					<span>0 800 21 00 45</span>
				</a>
				<p>бесплатно с мобильных и городских</p>
			</div>
			<!--end header__center-->
			<!--begin header__form-->
			<div class="header__form">
				<form action="mail.php">
					<input type="text" placeholder="Ваш телефон" name="phone" pattern="[\+()]*(?:\d[\s\-\.()xX]*){10,14}" required>
					<button class="btn" type="submit"><span>Позвоните мне</span></button>
				</form>
			</div>
			<!--end header__form-->
		</div>
		<!--end header__inner-->
	</div>
	<!--end l-->
</header>