<section class="section pre-footer">
	<!--begin l-->
	<div class="l">
		<div class="pre-footer__inner">
			<div class="pre-footer__form">
				<div class="pform  pform--bg-position" style="background-image: url('img/form-decor.png');">
					<div class="pform__inner">
						<form action="">
							<p class="pform__text">
								Оставьте ваш телефон <br>
								и мы свяжемся с вами!
							</p>
							<div class="field">
								<input type="text" placeholder="Ваше имя">
							</div>
							<div class="field field--mb-big">
								<input type="text" placeholder="Ваш телефон">
							</div>
							<button class="btn  btn--shadow-border pform__btn" type="submit">Позвоните мне</button>
						</form>
					</div>
				</div>
			</div>
			<div class="pre-footer__text">
				<h2 >
					Не упустите шанс!
				</h2>
				<p>Не откладывайте на потом, ведь хорошие <br> потолки всегда в цене! <br>
					А мы не только делаем их почти даром, <br>
					но еще и 
				</p>
				<p class="title-sm">
					даем скидки и дарим подарки!
				</p>
			</div>
		</div>
	</div>
	<!--end l-->

</section>