<!--begin superman-block-->
<div class="superman-block">
	<!--begin l-->
	<div class="l">
		<!--begin superman-block__inner-->
		<div class="superman-block__inner">
			<div class="superman-block__big-text">
				<p>Работаем по Киеву 
				и Киевской области</p>
			</div>
			<!--begin superman-block__text-->
			<div class="superman-block__text">
				<p>7 дней в неделю, 365 дней в году,<br>
					36 525 дней в столетии <br>
				и даже в полнолуние :)</p>
			</div>
			<!--end superman-block__text-->
			<img class="superman-block__img" src="img/superman.png" alt="alt">
			<div class="superman-block__btn">
				<a class="btn btn--shadow-border" href="#">Вызвать замерщика</a>
			</div>
		</div>
		<!--end superman-block__inner-->
		
	</div>
	<!--end l-->

</div>
<!--end superman-block-->
