<section class="section pre-footer">
	<!--begin l-->
	<div class="l">
		<div class="pre-footer__inner">
			<div class="pre-footer__form">
				<div class="form  form--bg-position" style="background-image: url('img/form-decor.png');">
					<div class="form__inner">
						<form action="mail.php">
							<p class="form__text">
								Оставьте ваш телефон <br>
								и мы свяжемся с вами!
							</p>
							<div class="field">
								<input type="text" placeholder="Ваше имя" pattern="[A-Za-zА-Яа-яЁё]{,20}" name="name" required>
							</div>
							<div class="field field--mb-big">
								<input type="text" placeholder="Ваш телефон" name="phone" pattern="[\+()]*(?:\d[\s\-\.()xX]*){10,14}" required>
							</div>
							<button class="btn  btn--shadow-border form__btn" type="submit"><span>Позвоните мне</span></button>
						</form>
					</div>
				</div>
			</div>
			<div class="pre-footer__text">
				<h2 >
					Не упустите шанс!
				</h2>
				<p>Не откладывайте на потом, ведь хорошие <br> потолки всегда в цене! <br>
					А мы не только делаем их почти даром, <br>
					но еще и 
				</p>
				<p class="title-sm">
					даем скидки и дарим подарки!
				</p>
			</div>
		</div>
	</div>
	<!--end l-->

</section>