<section class="section reviews">
	<!--begin l-->
	<div class="l">
		<h3 class="title-m reviews__title"><strong>Наши клиенты</strong> - счастливые люди</h3>
		<div class="reviews__list js-review-list">
			<div class="reviews__group is-active js-review-group">
				{% for test in reviewsPart1 %}
				{% include "partials/_reviewItem.html" %}
				{% endfor %}
			</div>
			<div class="reviews__group  js-review-group">
				{% for test in reviewsPart2 %}
				{% include "partials/_reviewItem.html" %}
				{% endfor %}
			</div>
			<div class="reviews__group  js-review-group">
				{% for test in reviewsPart3 %}
				{% include "partials/_reviewItem.html" %}
				{% endfor %}
			</div>
			<div class="reviews__group  js-review-group">
				{% for test in reviewsPart4 %}
				{% include "partials/_reviewItem.html" %}
				{% endfor %}
			</div>
			<div class="reviews__group  js-review-group">
				{% for test in reviewsPart5 %}
				{% include "partials/_reviewItem.html" %}
				{% endfor %}
			</div>
			<div class="reviews__group  js-review-group">
				{% for test in reviewsPart6 %}
				{% include "partials/_reviewItem.html" %}
				{% endfor %}
			</div>
		</div>
		<div class="reviews__btn-block">
			<a class="btn btn--shadow-border js-review-toggler" href="#"><span>Еще отзывы</span></a>
		</div>

	</div>
	<!--end l-->

</section>