<section class="section reviews">
	<!--begin l-->
	<div class="l">
		<h3 class="title-m reviews__title"><strong>Наши клиенты</strong> - счастливые люди</h3>
		<div class="reviews__list">

			<div class="review" data-aos="fade-up-right" data-aos-once="true">
				<div class="review__name">Елена</div>
				<div class="review__video">
					<iframe  src="https://www.youtube.com/embed/Jr-fSgxZxPU?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</div>
				<div class="review__stars">
					{{mixins.icon('star')}}
					{{mixins.icon('star')}}
					{{mixins.icon('star')}}
					{{mixins.icon('star')}}
					{{mixins.icon('star')}}
				</div>
			</div>
			<div class="review" data-aos="fade-up" data-aos-once="true">
				<div class="review__name">Владимир</div>
				<div class="review__video">
					<iframe  src="https://www.youtube.com/embed/bc2UQQNBQWw?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</div>
				<div class="review__stars">
					{{mixins.icon('star')}}
					{{mixins.icon('star')}}
					{{mixins.icon('star')}}
					{{mixins.icon('star')}}
					{{mixins.icon('star')}}
				</div>
			</div>
			<div class="review" data-aos="fade-up-left" data-aos-once="true">
				<div class="review__name">Елена</div>
				<div class="review__video">
					<iframe  src="https://www.youtube.com/embed/U6xldABx63A?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</div>
				<div class="review__stars">
					{{mixins.icon('star')}}
					{{mixins.icon('star')}}
					{{mixins.icon('star')}}
					{{mixins.icon('star')}}
					{{mixins.icon('star')}}
				</div>
			</div>
		</div>
	</div>
	<!--end l-->

</section>