.btn
	min-width: 161px
	height: 42px
	background-color: $orange2
	border-radius: 1px
	line-height: 42px
	font-weight: 500
	font-size: 18px
	color: $white
	padding-left: 10px
	padding-right: 10px
	background-image: linear-gradient(to top, #feae01 0%, #ffe402 100%)
	display: inline-block
	vertical-align: top
	text-align: center
	position: relative
	+trans
	&--shadow-border
		height: 52px
		line-height: 52px
		margin: 4px
		font-size: 24px
		min-width: 263px
		&:before
			content: ''
			position: absolute
			top: -4px
			bottom: -4px
			left: -4px
			right: -4px
			background: $white
			+trans
			border-radius: 2px
			z-index: -1
			box-shadow: 0 0 5px rgba(187, 186, 186, 0.75)
		&:hover
			&:before
				top: 0px
				bottom: 0px
				left: 0px
				right: 0px
