.btn
	display: inline-block
	vertical-align: top
	appearance: none
	border: none
	background: none
	position: relative
	span
		display: block
		min-width: 161px
		height: 42px
		background-color: $orange2
		border-radius: 1px
		line-height: 42px
		font-weight: 500
		font-size: 18px
		color: $white
		padding-left: 10px
		padding-right: 10px
		text-align: center
		position: relative
		z-index: 1
		background-image: linear-gradient(to top, #feae01 0%, #ffe402 100%)
		// +xs
		// 	height: 25px
		// 	min-width: 130px
		// 	font-size: 16px
		// 	line-height: 25px
	+trans
	&--shadow-border
		margin: 4px
		&:before
			content: ''
			position: absolute
			top: -4px
			bottom: -4px
			left: -4px
			right: -4px
			background: $white
			+trans
			border-radius: 2px
			z-index: 0
			box-shadow: 0 0 5px rgba(187, 186, 186, 0.75)
		span
			height: 52px
			line-height: 52px
			font-size: 24px
			min-width: 263px
			+xs
				min-width: 150px
				line-height: 42px
				height: 42px
				font-size: 18px
		&:hover
			&:before
				top: 0px
				bottom: 0px
				left: 0px
				right: 0px
	&--mb
		margin-bottom: 50px
		+m
			margin-bottom: 25px
	&--mt
		margin-top: 20px