.expir-slider
	position: relative
	&__slide
	&__inner
		display: flex
		justify-content: space-between
		align-items: flex-start
		+m
			flex-wrap: wrap
	&__img
		width: percentage(654/1140)
		+m
			flex-basis: 100%
			order: 1
			text-align: center
		img
			width: 100%
			height: auto
			+m
				max-width: 100%
				width: auto
				margin-left: auto
				margin-right: auto
	&__descr
		width: percentage(487/1140)
		padding-left: 30px
		padding-top: 32px
		padding-bottom: 44px
		border-bottom: 2px solid $blue
		min-height: 405px
		+lg
			padding-top: 0
			padding-left: 15px
			min-height: 310px
			padding-bottom: 20px
		+m
			flex-basis: 100%
			order: 0
			min-height: auto
			border-bottom: none

	&__title
		margin-bottom: 33px
		position: relative
		+lg
			margin-bottom: 15px
		&:after
			content: ''
			position: absolute
			bottom: -15px
			left: 0
			width: 30px
			height: 2px
			background-color: $blue-border
			+lg
				bottom: -8px
	&__text
		margin-bottom: 50px
		+lg
			font-size: 15px
			margin-bottom: 20px
		+m
			font-size: 14p
	&__btn-line
		text-align: center
		// .btn
		// 	min-width: 263px
	.slick-dots
		position: absolute
		right: 180px
		bottom: 6px
		transform: translateX(50%)
		+lg
			bottom: -10px
		+m
			position: static
			transform: translateX(0%)
			margin-left: auto
			margin-right: auto
			margin-top: 10px
			text-align: center
		// 	right: 50%
		// 	bottom: -35px
		// 	transform: translateX(50%)
		// +xs
		// 	bottom: -50px
			
.expPrev, .expNext
	width: 42px
	height: 42px
	text-align: center
	padding-top: 12px
	position: absolute
	bottom: 15px
	cursor: pointer
	+trans
	z-index: 2
	background-color: $blue
	+m
		bottom: 50%
		transform: translateY(50%)
		display: none!important
	svg
		width: 12px
		height: 19px
		fill: $white
	&:hover
		background-color: $orange4
.expPrev
	right: 415px
	+lg
		right: 360px
.expNext
	right: 368px
	+lg
		right: 300px
