.icon-arrow-l {
  width: 0.61em;
  height: 1em;
  fill: initial;
}
.icon-arrow-r {
  width: 0.61em;
  height: 1em;
  fill: initial;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: #000;
}
.icon-phone {
  width: 0.99em;
  height: 1em;
  fill: initial;
}
.icon-star {
  width: 1.04em;
  height: 1em;
  fill: #231F20;
}
